<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studypat.dao.CommentMapper">
	<resultMap type="comment" id="comm">
		<result column="comment_no" property="commentNo"/>
		<result column="post_no" property="postNo"/>
		<result column="user_no" property="userNo"/>
		<result column="comment_text" property="commentText"/>
		<result column="create_date" property="createDate"/>
		<result column="secret" property="secret"/>
		
		<association javaType="studypat.dto.User" property="user"> <!-- user 테이블 조인때 사용하기 위해서-->
			<result column="user_no" property="userNo"/>
			<result column="id" property="id"/>
			<result column="password" property="password"/>
			<result column="email" property="email"/>
			<result column="nickname" property="nickName"/>
			<result column="admin" property="admin"/>
		</association>
		
		<collection property="user" javaType="user"/>
	</resultMap>

	<select id="getCommentList" resultMap="comm">
		select * from sp_comment join sp_user using(user_no) where post_no = #{postNo} order by comment_no
	</select>
	
	<select id="getUserCommentList" resultMap="comm">
		select * from sp_comment where user_no = #{userNo} order by comment_no desc
	</select>
	
	<insert id="addComment" parameterType="comment">
		insert into 
		sp_comment(post_no, user_no, comment_text, create_date, secret) 
		values(#{postNo}, #{userNo}, #{commentText}, sysdate, #{secret})
	</insert>
	
	<delete id="deleteComment">
		delete sp_comment where comment_no = #{commentNo}
	</delete>
	
</mapper>

