<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studypat.dao.UserMapper">

	<insert id = "join" parameterType = "studypat.dto.User">
		insert into sp_user values (sp_user_SEQ.nextval, #{id}, #{password}, #{email}, #{nickName}, 0)
	</insert>

	<select id="getUser" resultType="studypat.dto.User">
		select * from sp_user where id = #{id}
	</select>
	
	<select id="login" resultType="studypat.dto.User">
		select * from sp_user where id=#{id} and password=#{password}
	</select>
	
	<update id="updateUser" parameterType="studypat.dto.User">
		update sp_user
		set nickName = #{nickName} password = #{password}
		where user_no=#{userNo}
	</update>

	<select id ="findId" parameterType="String" resultType="java.lang.String">
		select * from sp_user where email = #{email}
	</select>
	
	<select id ="findPw" resultType="studypat.dto.User">
		select * from sp_user where id = #{id} and email = #{email}
	</select>
	
	<update id="getTempPw" parameterType="studypat.dto.User">
		update sp_user
		set password = #{password}
		where id=#{id} and email=#{email}
	</update>

	<resultMap type="user" id="userResultMap">
		<result column="user_no" property="userNo" />
	</resultMap>

	<select id="getUserList" resultMap="userResultMap">
		select * from sp_user
	</select>
	
	<delete id="deleteUser">
		delete sp_user where user_no = #{userNo}
	</delete>

</mapper>